@import url('./theme.css');

.background {
    background-color: var(--color-bg);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.elevation-s {
    box-shadow: var(--shadow-s);
}

.elevation-m {
    box-shadow: var(--shadow-m);
}

.elevation-l {
    box-shadow: var(--shadow-l);
}

.radius-s {
    border-radius: var(--radius-s)
}

.radius-m {
    border-radius: var(--radius-m)
}

.radius-l {
    border-radius: var(--radius-l)
}

.margin-s {
    margin: var(--gutter-s)
}

.margin-m {
    margin: var(--gutter-m)
}

.margin-l {
   margin: var(--gutter-l)
}

.margin-xl {
   margin: var(--gutter-xl)
}

.padding-s {
    padding: var(--gutter-s)
}

.padding-m {
    padding: var(--gutter-m)
}

.padding-l {
   padding: var(--gutter-l)
}

.padding-xl {
   padding: var(--gutter-xl)
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: 300;
}

.font-thin {
    font-weight: 100;
}

.hover:hover {
    background-color: var(--color-hover);
}

.fade-in {
    animation: fadein 1s;
}

.text-ellipses {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
