* {
    --std-color-primary-accent: #8e3b46;
    --std-color-primary-tint1: #e0777d;
    --std-color-primary-tint2: #f5f5f5;
    --std-color-separator: #eaeaea;
    --std-color-hover: #eaeaea;
    --std-color-bg: #ffffff;
    --fill-color: #8e3b46;
}
