.drpdwn {
    --radius-xs: calc(2px / var(--radius-divider, 1));
    --radius-s: calc(4px / var(--radius-divider, 1));
    --radius-m: calc(5px / var(--radius-divider, 1));
    --radius-l: calc(12px / var(--radius-divider, 1));
    --radius-xl: calc(16px / var(--radius-divider, 1));
    --radius-xxl: calc(32px / var(--radius-divider, 1));
}
